body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0 10%;
  display: block;
  background: radial-gradient(rgb(180, 180, 180) 2px, transparent 1px);
  background-size: 40px 40px;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.Profile-Img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 2px solid #121212;
}

.posts-anchor {
  text-decoration: none;
  color: inherit;
}

.footer-text {
  color: #818181;
  display: block;
  font-size: 1em;
  font-weight: bold;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

.footer-anchor {
  color: #818181;
}

@media only screen and (max-width: 767px) {

  @media (prefers-color-scheme: dark) {

    body {
      background-color: #121212;
      color: #ededed;
    }

    img {
      border: 2px  solid #121212;
    }
  
    .posts-container {
      background-color: #121212;
      border: 2px solid #a2a2a6;
      padding: 10px;
      margin: 20px auto;
      box-shadow: 3px 3px 3px #fff;
    }
  
  }

  @media (prefers-color-scheme: light) {
    .posts-container {
      background-color: #fff;
      border: 2px solid #a2a2a6;
      padding: 10px;
      margin: 20px auto;
      box-shadow: 3px 3px 3px black;
    }
  }

}

@media only screen and (min-width: 768px) {

  body {
    margin: 0 30%;
  }

  .Profile-Img {
    width: 30%;
  }

  .posts-container {
    background-color: #fff;
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 20px auto;
    transition: .3s ease-in-out;
  }
  
  .posts-container:hover {
    box-shadow: 3px 3px 3px black;
    transition: .3s ease-in-out;
  }

}